{{>partials/header}}




<div class="container list">

</div>    

 <div class="container no-list">
 <h2>Página não encontrada </h2>
 <h2>Verifique o nome e tente convamente.</h2>
 </div>
 <!--  fazendo a verificação para quando o list nao exist, no caso para quando não existir o nome do animal digitado -->


{{>partials/footer}}